body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fa;
    color: #24292e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3em;
    height: 100vh;
}
header, main {
    width: 80%; /* you can adjust the value to what best suits you */
    max-width: 800px; /* adjust this too as per your needs */
}
header {
    margin-bottom: 1em;
    text-align: left;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
form {
    background-color: #ffffff;
    border: 1px solid #e1e4e8;
    padding: 1em;
    border-radius: 6px;
}
label, input {
    display: block;
    margin-bottom: 0.5em;
}
input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}
input[type="submit"] {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 6px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #218839;
}
#result {
    margin-top: 2em;
    width: 100%;
    max-width: 600px;
}


.dot {
    display: inline-block;
    margin: 2px;
    width: 10px;
    height: 10px;
    background-color: #ccc; /* grey */
    border-radius: 50%;
    flex: 1 0 auto; /* This allows the dot to take up as much space as available, but not to shrink smaller than its content */
}
.filled {
    background-color: #000; /* black */
}

.pattern {
    display: flex;
    text-align: left;
}




/* .pattern {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
} */

/* 
.pattern {
    align-items: flex-start;
    justify-content: flex-start;
} */


/* .row {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
} */

.row {
    display: inline-block;
}

.pattern-container {
    display: flex;
    align-items: center;
}

.pattern-container p {
    display: inline-block;
    margin-right: 30px; /* Adjust this to your liking */
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: top;
}

