body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fa;
    color: #24292e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3em;
    height: 100vh;
}

header, main, #result {
    width: 100%;
    max-width: 800px;
    font-family: "Noto Sans";
    font-size: medium;
    margin-bottom: 80px; 
}

header {
    margin-bottom: 1em;
    text-align: right;
    display: flex;
    align-items: center;
}

header h1 {
    text-align: center;
    margin: 0;
    padding-right: 0px; /* Add some padding to separate the text from the video */
    font-family: "Noto Sans";
}

header video {
    flex: 1
}

.form-header {
    display: flex;
    align-items: center; /* This is to align items vertically in the center */
    justify-content: space-evenly; /* This is to put some space between the video and the title */
    gap: 0px; /* Optional: puts a gap between the video and the title */
    margin-bottom: 2rem;
}

footer {
    font-size: medium;
    color: orange;
    font-family: "Noto Sans";
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    background-color: #ffffff;
    border: 1px solid #e1e4e8;
    padding: 1em;
    border-radius: 20px;
}

label, input {
    display: block;
    margin-bottom: 0.5em;
}

input[type="number"], input[type="submit"] {
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218839;
}

.description {
    color: gray;
    font-size: 0.9em;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
}

#result {
    margin-top: 2em;
}

.pattern-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.pattern {
    margin-right: 0.5em;
}

.pattern-container p {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin: 0 10px 0 0;
}

.pattern-wrapper {
    margin-bottom: 2rem;
}

.number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    margin-right: 3px;
    font-size: 12px;
}

.number.zero {
    background-color: lightgray;
}

.number.nonzero {
    background-color: #696969;
}

#loader {
    display: none;
    margin-top: 20px;
}

.loading-dot {
    font-size: 1em;
}

@keyframes loading {
    0% { color: #000; }
    50% { color: #bbb; }
    100% { color: #000; }
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.form-group {
    width: 45%; /* roughly half the form width */
}

#api-form input[type="submit"] {
    width: auto;
}

@media (max-width: 600px) {
    body {
      padding-top: 1em;
    }
    header, main, input[type="number"] {
      width: 95%;
    }
    .form-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .form-header h1 {
        margin: 0;
    }
    #result {
      font-size: 0.9em;
      width: 100%;
    }
    .form-row {
        flex-direction: column;
    }
    .form-group {
        width: 100%;
    }
}
